<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>WebRTC</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="js/app.js" type="module"></script>
</head>
<body>
    <video id="myVideoArea" class="display-none" autoplay muted></video>
    <video id="otherVideoArea" class="display-none" autoplay></video>
    <section id="connect-section">

        <form>
            <label for="name">Your Name</label><br/>
            <input id="name" type="text"/><br/><br/>

            <label for="age">Your Age</label><br/>
            <input id="age" type="text"/><br/><br/>

            <p>Je suis : </p>
            <input type="radio" id="male" name="sex" value="homme">
            <label for="male">Homme</label>
            <input type="radio" id="female" name="sex" value="femme">
            <label for="female">Femme</label>
            <input type="radio" id="nb" name="sex" value="nb">
            <label for="nb">Non Binaire</label>

            <p>Je souhaite rencontrer :  </p>
            <input type="radio" id="homme" name="preference" value="homme">
            <label for="homme">Homme</label>
            <input type="radio" id="femme" name="preference" value="femme">
            <label for="femme">Femme</label>
            <input type="radio" id="nb" name="preference" value="nb">
            <label for="nb">Non Binaire</label></br></br>

            <label for="avatar">Photo de profil : </label></br></br>
            <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg"></br></br>

            <button id="connect">Connect</button>
        </form>
    </section>
    <section id="chat-section" class="display-none">
        <!-- <button id="display">OUI (provisoire)</button> -->
        <button id="display-photo">Display Photo</button>
        <button id="video-btn">Join Video</button>
        <button id="leave-btn">Leave Video</button>
        <div id="chatArea">Message Output:<br/></div>
        <form>
            <label for="message">Message</label><br/>
            <input id="message" type="text" style="height: 20px; width: 300px;"/><br/>
            <input id="sendMessage" type="submit"/>
        </form>
    </section>
</body>
</html>